@import url("https://fonts.googleapis.com/css?family=Exo+2:200,400,500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem; }

h1, h2, h3, h4 {
  font-family: "Exo 2", sans-serif; }

h1 {
  font-size: 2.5rem; }

.uppercase {
  text-transform: uppercase; }

.color-blue {
  color: #3498db; }

.nopadding {
  padding: 0; }

#content {
  max-width: 1260px; }

.padding-50 {
  padding: 50px; }

.flex-row {
  display: flex; }

header {
  color: #fff; }
  header h1, header h2 {
    font-weight: 200; }

#main-photo {
  background: url("../img/main-photo.jpg");
  background-position: center -50px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px; }

#my-info .row {
  min-height: 120px;
  max-height: 120px; }
  #my-info .row .box {
    height: 120px; }

#my-info .sweep-right {
  cursor: pointer;
  max-height: 120px;
  min-height: 120px; }

#my-info .row:first-child {
  background-color: #224870; }
  #my-info .row:first-child .name-title {
    padding: 17px 40px 18px 40px; }
  #my-info .row:first-child .name-title, #my-info .row:first-child .sweep-right {
    max-height: 120px;
    min-height: 120px; }
  #my-info .row:first-child .sweep-right {
    background-size: 200% 100%;
    transition: background-position .5s;
    background-image: linear-gradient(to right, #1f4165 50%, #112a44 50%); }
    #my-info .row:first-child .sweep-right i {
      color: #7b8fa4;
      transition: color 0.5s;
      position: relative;
      top: 25px;
      left: 30px; }
  #my-info .row:first-child .sweep-right:hover {
    background-position: -100% 0%; }
    #my-info .row:first-child .sweep-right:hover i {
      color: #fff; }

#my-info .row:nth-child(2) {
  background-color: #1f4165; }
  #my-info .row:nth-child(2) .position-title {
    padding: 23px 40px 34px 40px; }
  #my-info .row:nth-child(2) .sweep-right {
    background-size: 200% 100%;
    transition: background-position .5s;
    background-image: linear-gradient(to right, #1f4165 50%, #153454 50%); }
    #my-info .row:nth-child(2) .sweep-right i {
      color: #9ba9b7;
      transition: color 0.5s;
      position: relative;
      top: 25px;
      left: 22px; }
  #my-info .row:nth-child(2) .sweep-right:hover {
    background-position: -100% 0%; }
    #my-info .row:nth-child(2) .sweep-right:hover i {
      color: #fff; }

#my-info .row:nth-child(3) {
  background-color: #fff; }

#my-info #boxes {
  cursor: pointer;
  padding: 0; }
  #my-info #boxes .box {
    text-align: center;
    transition: background-position .5s;
    background-size: 100% 200%; }
    #my-info #boxes .box a {
      text-decoration: none;
      display: block;
      width: 100%;
      height: 120px; }
    #my-info #boxes .box i {
      color: #b5d8ed; }
    #my-info #boxes .box span {
      font-size: 0.875rem;
      font-weight: 600;
      display: block;
      color: #fff; }
  #my-info #boxes .box:hover {
    background-position: 0 -100%; }
  #my-info #boxes .box:first-child {
    background-image: linear-gradient(to bottom, #4EA5D9 50%, #4a9ece 50%); }
    #my-info #boxes .box:first-child i {
      position: relative;
      top: 13px; }
    #my-info #boxes .box:first-child span {
      position: relative;
      top: 38px; }
  #my-info #boxes .box:nth-child(2) {
    background-image: linear-gradient(to bottom, #4a9ece 50%, #428eba 50%); }
    #my-info #boxes .box:nth-child(2) i {
      position: relative;
      top: 19px; }
    #my-info #boxes .box:nth-child(2) span {
      position: relative;
      top: 36px; }
  #my-info #boxes .box:nth-child(3) {
    background-image: linear-gradient(to bottom, #428eba 50%, #337ab7 50%); }
    #my-info #boxes .box:nth-child(3) i {
      position: relative;
      top: 19px; }
    #my-info #boxes .box:nth-child(3) span {
      position: relative;
      top: 31px; }

#personal-row #personal {
  background-color: #f2faff; }
  #personal-row #personal .dividewhite {
    height: 50px; }
  #personal-row #personal h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8125rem; }
  #personal-row #personal p {
    margin: 0;
    font-family: "Open Sans", sans-serif; }
  #personal-row #personal .one, #personal-row #personal .two {
    display: inline-block; }
  #personal-row #personal .one {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    z-index: 2;
    padding-top: 2px;
    vertical-align: top; }
  #personal-row #personal .one p {
    text-transform: uppercase;
    line-height: 1.6em;
    font-size: 14px;
    font-weight: 700;
    color: #3f3f3f; }
  #personal-row #personal .two p {
    line-height: 1.6em;
    font-size: 14px;
    font-weight: 400; }
  #personal-row #personal .two {
    display: inline-block;
    position: relative;
    width: 60%; }
  #personal-row #personal .box {
    margin: 0 0 13px 0;
    display: block;
    clear: both; }

#personal-row #details i {
  font-size: 2.25rem; }

#personal-row #details .title, #personal-row #details .subtitle {
  font-weight: 400; }

#personal-row #details .quote {
  margin: 14px 0; }
  #personal-row #details .quote h4 {
    color: #406e8e;
    font-size: 1rem;
    margin: 0;
    padding-top: 5px; }

#personal-row #details h3.title {
  font-size: 1.8125rem; }

#personal-row #details .dividewhite {
  height: 30px; }

#personal-row #details .divider-dynamic {
  height: 10px; }

#personal-row #details .infoblock h4 {
  font-weight: 500;
  font-size: 1rem; }

#personal-row #details .infoblock p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #3f3f3f; }
