@import url("https://fonts.googleapis.com/css?family=Exo+2:200,400,500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem; }

h1, h2, h3, h4 {
  font-family: "Exo 2", sans-serif; }

h1 {
  font-size: 2.5rem; }

.uppercase {
  text-transform: uppercase; }

h3.title {
  margin: 0;
  font-size: 1.8125rem; }

.font-regular-normal {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.font-accident-two-normal {
  font-weight: 400;
  font-family: "Exo 2", sans-serif; }

.font-accident-two-bold {
  font-weight: bold;
  font-family: "Exo 2", sans-serif; }

.box span {
  font-size: 0.875rem;
  font-weight: 600;
  display: block;
  color: #fff; }

.box a {
  text-decoration: none; }

.color-blue {
  color: #3498db; }

@media only screen and (max-width: 992px) {
  .row.flex-row {
    display: block; } }

.nopadding {
  margin: 0;
  padding: 0; }

.row-no-padding {
  margin-left: 0;
  margin-right: 0; }

#content {
  max-width: 1260px; }

.padding-50 {
  padding: 50px; }

.flex-row {
  display: flex; }

.dividewhite1 {
  height: 10px; }

.dividewhite2 {
  height: 20px; }

.dividewhite3 {
  height: 30px; }

.dividewhite4 {
  height: 40px; }

.btn-wh-trans {
  transition: background 0.5s ease;
  color: #fff;
  background: #4492bf;
  padding: 1px 5px;
  font-size: 0.6875rem;
  padding: 3px 9px 2px 9px;
  line-height: 1.5;
  border-radius: 3px;
  margin-top: 8px;
  margin-right: 12px; }
  .btn-wh-trans:hover {
    background: #e74c3c; }

header {
  color: #fff; }
  header h1, header h2 {
    font-weight: 200; }
  header .main-photo {
    background: url("../img/main-photo.jpg");
    background-position: center -50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px; }
  header .boxes {
    cursor: pointer;
    padding: 0; }
    header .boxes .box {
      text-align: center;
      transition: background-position .5s;
      background-size: 100% 200%; }
      header .boxes .box a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 120px; }
      header .boxes .box i {
        color: #b5d8ed; }
      header .boxes .box span {
        font-size: 0.875rem;
        font-weight: 600;
        display: block;
        color: #fff; }
    header .boxes .box:hover {
      background-position: 0 -100%; }
    header .boxes .box:first-child {
      background-image: linear-gradient(to bottom, #4ea5d9 50%, #4a9ece 50%); }
      header .boxes .box:first-child i {
        position: relative;
        top: 13px; }
      header .boxes .box:first-child span {
        position: relative;
        top: 38px; }
    header .boxes .box:nth-child(2) {
      background-image: linear-gradient(to bottom, #4a9ece 50%, #428eba 50%); }
      header .boxes .box:nth-child(2) i {
        position: relative;
        top: 19px; }
      header .boxes .box:nth-child(2) span {
        position: relative;
        top: 36px; }
    header .boxes .box:nth-child(3) {
      background-image: linear-gradient(to bottom, #428eba 50%, #337ab7 50%); }
      header .boxes .box:nth-child(3) i {
        position: relative;
        top: 19px; }
      header .boxes .box:nth-child(3) span {
        position: relative;
        top: 31px; }
  header .row {
    min-height: 120px; }
    header .row .box {
      height: 120px; }
  header .sweep-right {
    text-align: center;
    cursor: pointer;
    height: 120px; }
  header .row:first-child {
    background-color: #224870; }
    header .row:first-child .name-title {
      padding: 17px 40px 18px 40px; }
    header .row:first-child .name-title, header .row:first-child .sweep-right {
      max-height: 120px;
      min-height: 120px; }
    header .row:first-child .sweep-right {
      background-size: 200% 100%;
      transition: background-position .5s;
      background-image: linear-gradient(to right, #1f4165 50%, #112a44 50%); }
      header .row:first-child .sweep-right i {
        color: #7b8fa4;
        transition: color 0.5s;
        position: relative;
        top: 25px; }
    header .row:first-child .sweep-right:hover {
      background-position: -100% 0%; }
      header .row:first-child .sweep-right:hover i {
        color: #fff; }
  header .row:nth-child(2) {
    background-color: #1f4165; }
    header .row:nth-child(2) .position-title {
      padding: 23px 40px 34px 40px; }
    header .row:nth-child(2) .sweep-right {
      background-size: 200% 100%;
      transition: background-position .5s;
      background-image: linear-gradient(to right, #1f4165 50%, #153454 50%); }
      header .row:nth-child(2) .sweep-right i {
        color: #9ba9b7;
        transition: color 0.5s;
        position: relative;
        top: 25px; }
    header .row:nth-child(2) .sweep-right:hover {
      background-position: -100% 0%; }
      header .row:nth-child(2) .sweep-right:hover i {
        color: #fff; }
  header .row:nth-child(3) {
    background-color: #fff; }
  @media only screen and (max-width: 992px) {
    header .main-photo {
      background-position: center center; }
    header .name-title h1 {
      font-size: 2.2rem; }
    header .position-title h2 {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 768px) {
    header .row .my-info .sweep-right:first-child {
      background-image: linear-gradient(to right, #224870 50%, #112a44 50%); }
    header .row .my-info .sweep-right:nth-child(2) {
      background-image: linear-gradient(to right, #1f4165 50%, #153454 50%); }
    header .row .my-info .sweep-right {
      min-height: 180px; }
      header .row .my-info .sweep-right i {
        top: 50px; } }

#personal-row #personal {
  background-color: #f2faff; }
  #personal-row #personal .dividewhite {
    height: 50px; }
  #personal-row #personal h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8125rem; }
  #personal-row #personal p {
    margin: 0;
    font-family: "Open Sans", sans-serif; }
  #personal-row #personal .one, #personal-row #personal .two {
    display: inline-block; }
  #personal-row #personal .one {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    z-index: 2;
    padding-top: 2px;
    vertical-align: top; }
  #personal-row #personal .one p {
    text-transform: uppercase;
    line-height: 1.6em;
    font-size: 14px;
    font-weight: 700;
    color: #3f3f3f; }
  #personal-row #personal .two p {
    line-height: 1.6em;
    font-size: 14px;
    font-weight: 400; }
  #personal-row #personal .two {
    display: inline-block;
    position: relative;
    width: 60%; }
  #personal-row #personal .box {
    margin: 0 0 13px 0;
    display: block;
    clear: both; }

#personal-row #details {
  flex-shrink: 1;
  flex-basis: auto;
  display: flex; }
  #personal-row #details i {
    font-size: 2.25rem; }
  #personal-row #details .title, #personal-row #details .subtitle {
    font-weight: 400; }
  #personal-row #details .quote {
    margin: 14px 0; }
    #personal-row #details .quote h4 {
      color: #406e8e;
      font-size: 1rem;
      margin: 0;
      padding-top: 5px; }
  #personal-row #details h3.title {
    font-size: 1.8125rem; }
  #personal-row #details .dividewhite {
    height: 30px; }
  #personal-row #details .divider-dynamic {
    height: 10px; }
  #personal-row #details .infoblock h4 {
    font-weight: 500;
    font-size: 1rem; }
  #personal-row #details .infoblock p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    color: #3f3f3f; }

#my-experience {
  background-color: #dcf3fb; }
  #my-experience .exp {
    border-left: 1px solid #3498db;
    overflow: visible;
    position: relative;
    padding-left: 24px;
    margin-left: 7px; }
    #my-experience .exp a {
      transition: opacity 0.3s ease; }
    #my-experience .exp a:hover {
      text-decoration: none;
      cursor: pointer;
      opacity: .6; }
    #my-experience .exp li, #my-experience .exp li a {
      color: #3f3f3f; }
    #my-experience .exp li.date {
      font-family: "Open Sans", sans-serif;
      font-size: 0.6875rem;
      margin-bottom: 0;
      position: relative;
      display: block;
      font-weight: 400;
      line-height: 1.2em; }
    #my-experience .exp li.company {
      font-family: "Exo 2", sans-serif;
      position: relative;
      font-size: 1rem;
      font-weight: 600; }
      #my-experience .exp li.company a::before {
        background: #3498db;
        position: absolute;
        width: 9px;
        height: 9px;
        border-radius: 4px;
        top: 7px;
        left: -29px;
        content: ""; }
    #my-experience .exp li.position {
      font-family: "Open Sans", sans-serif;
      margin: 0 0 0 0;
      display: block;
      line-height: 0.75rem;
      font-size: 0.8125rem; }
    #my-experience .exp ul {
      margin-top: 0;
      padding-left: 0;
      margin-bottom: 23px;
      list-style: none; }

#my-technologies {
  background: #cfe5f1; }
  #my-technologies .angular-icon {
    margin-bottom: 0px;
    font-size: 68px;
    color: #ef9b88;
    position: relative;
    bottom: 7px; }
  #my-technologies h4.angular {
    margin-top: 2px; }
  #my-technologies h4 {
    color: #3f3f3f;
    margin-top: 24px;
    letter-spacing: 1px;
    font-weight: 700; }
  #my-technologies p {
    font-size: 0.875em;
    line-height: 1.5em;
    color: #3f3f3f; }
  #my-technologies i.js {
    color: #fcd102; }
  #my-technologies i.d3 {
    color: #49dae7; }

footer.dark {
  height: 340px;
  background-color: #224870; }
  footer.dark h5 {
    font-size: 1rem;
    color: #efefef; }
  footer.dark p {
    padding-top: 10px;
    font-size: 0.8125rem;
    font-family: "Open Sans", sans-serif;
    color: #cfe5f1; }
  footer.dark .cv-link a {
    font-size: 0.875rem;
    text-decoration: none;
    padding: 4px 9px 3px 9px;
    color: #cfe5f1;
    background: transparent;
    border: 1px solid #4492BF;
    display: inline-block;
    margin: 2px 0 4px 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0 0;
    transition: all 0.35s ease-in-out; }
    footer.dark .cv-link a i {
      font-weight: bold;
      font-size: 0.7rem;
      margin-right: 10px;
      padding-top: 2px; }
    footer.dark .cv-link a:hover {
      border-color: #e74c3c;
      background: transparent; }
  footer.dark .email {
    text-align: right; }
  footer.dark .box {
    transition: background-position .5s;
    text-align: center;
    height: 120px; }
    footer.dark .box:hover {
      background-position: 0 -100%; }
    footer.dark .box i {
      color: #b5d8ed;
      display: block;
      position: relative;
      top: 13px; }
    footer.dark .box span {
      position: relative;
      top: 30px; }
    footer.dark .box.home {
      background-size: 200% 100%;
      background-image: linear-gradient(to right, #4ea5d9 50%, #4a9ece 50%); }
      footer.dark .box.home:hover {
        background-position: -100% 0%; }
    footer.dark .box.resume {
      background-size: 200% 100%;
      background-image: linear-gradient(to right, #4a9ece 50%, #428eba 50%); }
      footer.dark .box.resume:hover {
        background-position: -100% 0%; }
    footer.dark .box.portfolio {
      background-size: 100% 200%;
      background-image: linear-gradient(to bottom, #428eba 50%, #337ab7 50%); }
      footer.dark .box.portfolio:hover {
        background-position: 0 -100%; }
