$white-font: #fff;
@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400');
body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}
h1,h2{
    font-family: "Exo 2", sans-serif
}
h1{
    font-size: 2.5rem;
}
header{
    color: $white-font;
    h1,h2{
        font-weight: 200;
    }
}
#main-photo{
    background: url('../img/main-photo.jpg');
    background-position: center -50px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}
#my-info{
    .row{
        padding: 17px 40px 18px 40px;
        min-height: 120px;
        max-height: 120px;
        .box{
            height: 120px;
        }
    }
    .row:first-child{
        background-color: #224870;
    }
    .row:nth-child(2){
        background-color: #1f4165;
    }
    .row:nth-child(3){
        background-color: #fff;
    }

    #boxes{
        cursor: pointer;
        padding:0;

        .box{
            transition: background-position .5s;
            background-size: 100% 200%;
        }
        .box:hover{
            background-position: 0 -100%;
        }
        .box:first-child{
            background-image:linear-gradient(to bottom,#4EA5D9 50%, #337ab7 50% );
        }
        .box:nth-child(2){
            background-color: #4a9ece;
        }
        .box:nth-child(3){
            background-color: #428eba;
        }
    }

}
