footer.dark{
    height: 390px;
    background-color: $color-footer-bg;
    h5{
        font-size: 1rem;
        color: #efefef;
    }
    p{
        padding-top: 10px;
        font-size: 0.8125rem;
        font-family: "Open Sans", sans-serif;
        color: #cfe5f1;
    }
    .cv-link a{
        font-size: 0.875rem;
        text-decoration: none;
        padding: 4px 9px 3px 9px;
        color: #cfe5f1;
        background: transparent;
        border: 1px solid #4492BF;
        display: inline-block;
        margin: 2px 0 4px 0;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0 0;
        transition: all 0.35s ease-in-out;
        i{
            font-weight: bold;
            font-size: 0.7rem;
            margin-right: 10px;
            padding-top: 2px;
        }
        &:hover{
            border-color: #e74c3c;
            background: transparent;
        }
    }
    .email{
        text-align: right;
    }

    .box{
        transition: background-position .5s;
        &:hover {
            background-position: 0 -100%;
        }
        text-align: center;
        i{
            color: $color-nav-i;
            display: block;
            position: relative;
            top: 13px;
        }
        span{
            position: relative;
            top: 30px;
        }

        &.home{
            background-size: 200% 100%;
            background-image: linear-gradient(to right, $color-box-home 50%, $color-box-home-hover 50%);
            &:hover{
                background-position: -100% 0%;
            }
        }
        &.resume{
            background-size: 200% 100%;
            background-image: linear-gradient(to right, $color-box-resume 50%, $color-box-resume-hover 50%);
            &:hover{
                background-position: -100% 0%;
            }
        }
        &.portfolio{
            background-size: 100% 200%;
            background-image: linear-gradient(to bottom, $color-box-portfolio 50%, $color-box-portfolio-hover 50%);
            &:hover {
                background-position: 0 -100%;
            }
        }
        height: 120px;
    }

    @media only screen and(max-width: 767px){
        height: auto;
        .boxes .box
        {
            i{
                top: 23px;
                font-size: 2.5rem;
            }
            span{
                top: 43px;
                font-size: 0.8rem;
            }
        }
        .cv-link a{
            display: block;
            margin-bottom: 8px;
        }
        .cv-link a:last-of-type{
            margin-bottom: 0;
        }
    }
}
