

@import url('https://fonts.googleapis.com/css?family=Exo+2:200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
//fonts
body {
    background-color: transparent;
    overflow-x: hidden;
    padding: 20px 0;
    -webkit-font-smoothing: antialiased;;
    text-rendering: optimizeLegibility;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;

}
html{
    background: url('../img/retina_wood.png');
    background-repeat:repeat;
}
h1, h2, h3, h4 {
    font-family: "Exo 2", sans-serif
}
h3{
    font-size: 1.8125rem;
    line-height: 2.1275rem;
}
section h3{
    margin: 0;
}
h4{
    font-size: 1rem;
    line-height: 1.3rem;
}
p{
    font-size: 0.875rem;
    line-height: 1.4rem;
}
p.small{
    font-size: 0.8125rem;
}
span{
    font-size: 0.875rem;
}
li{
    line-height: 0.825rem;
    a{
        line-height: 1.6rem;
    }
}

h1 {
    font-size: 2.5rem;
}
.uppercase{
    text-transform: uppercase;
}
h3.title{
    margin: 0;
}
.font-regular-normal{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.font-accident-two-normal{
    font-weight: 400;
    font-family: "Exo 2", sans-serif;
}
.font-accident-two-bold{
    font-weight: bold;
    font-family: "Exo 2", sans-serif;
}
.box span{
    font-size: 0.875rem;
    font-weight: 600;
    display: block;
    color: #fff;
}
.box a{
    text-decoration: none;
}


// colors
.color-blue {
    color: $color-blue;
}
//paddings n display

.padding-personal{
    padding: 50px 20px 50px 50px;
}
.rotate-90{
    transform: rotate(90deg);
}
.rotate-180{
    transform: rotate(180deg);
}

.nopadding{
    margin: 0;
    padding: 0;
}
.row-no-padding{
    margin-left: 0;
    margin-right: 0;
}
#main-content {
    max-width: 1260px;
}

.padding-50 {
    padding: 50px;
}

.flex-row {
    display: flex;

}
.dividewhite1{
    height: 10px;
}
.dividewhite2{
    height: 20px;
}
.dividewhite3{
    height: 30px;
}
.dividewhite4{
    height: 40px;
}
.dividewhite5{
    height: 50px;
}
.divider-dynamic{
    height: 10px;
}

@media only screen and (max-width: 1260px) {
    body{
        padding: 0; 
    }
}


@media only screen and (max-width: 992px){
    .row.flex-row{
        display: block;
    }
    .divider-dynamic{
        height: 40px;
    }
}
@media only screen and (max-width: 480px){

    .padding-50{
        padding: 30px 14px 35px 14px;
    }
    .padding-personal{
        padding: 30px 14px 35px 14px;
    }
}
 //buttons
.btn-wh-trans{
    transition: background 0.5s ease;
    color: $white-font;
    background: #4492bf;
    padding: 1px 5px;
    font-size: 0.6875rem;
    padding: 3px 9px 2px 9px;
    line-height: 1.5;
    border-radius: 3px;
    margin-top: 8px;
    &:hover{
        background: #e74c3c;
        color: $white-font;
    }
    &:active{
        color: $white-font;
    }
}

//mixins

@mixin page-title(){

    color: $white-font;
    h2 {
        font-size: 3rem;
    }
    h4 {
        font-size: 1rem;
        font-weight: 300;
    }
    p {
        color: $white-font;
    }
    background-color: #4ca1d3;
}
