$white-font: #fff;
$color-blue: #3498db;
$color-light-blue: #dcf3fb;
$color-light-blue2: #cfe5f1;
@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
//fonts
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;

}

h1, h2, h3, h4 {
    font-family: "Exo 2", sans-serif
}

h1 {
    font-size: 2.5rem;
}
.uppercase{
    text-transform: uppercase;
}
h3.title{
    margin: 0;
    font-size: 1.8125rem;
}
.font-regular-normal{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.font-accident-two-normal{
    font-weight: 400;
    font-family: "Exo 2", sans-serif;
}
.font-accident-two-bold{
    font-weight: bold;
    font-family: "Exo 2", sans-serif;
}
// colors
.color-blue {
    color: $color-blue;
}

//paddings n display


.nopadding{
    padding: 0;
}

#content {
    max-width: 1260px;
}

.padding-50 {
    padding: 50px;
}

.flex-row {
    display: flex;

}
.dividewhite1{
    height: 10px;
}
.dividewhite2{
    height: 20px;
}
.dividewhite3{
    height: 30px;
}
.dividewhite4{
    height: 40px;
}
 //buttons
.btn-wh-trans{
    transition: background 0.5s ease;
    color: $white-font;
    background: #4492bf;
    padding: 1px 5px;
    font-size: 0.6875rem;
    padding: 3px 9px 2px 9px;
    line-height: 1.5;
    border-radius: 3px;
    margin-top: 8px;
    margin-right: 12px;
    &:hover{
        background: #e74c3c;
    }
}
