
header {
    color: $white-font;
    h1, h2 {
        font-weight: 200;
    }

    .main-photo {
        background: url('../img/main-photo.jpg');
        background-position: center -50px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 360px;
    }
    .boxes {
        cursor: pointer;
        display: flex;
        padding: 0;
        .box {
            flex: 1;
            text-align: center;
            transition: background-position .5s;
            background-size: 100% 200%;
            a {
                text-decoration: none;
                display: block;
                width: 100%;
                height: 120px;
            }
            i {
                color: #b5d8ed;
                position: relative;
                top: 13px;
            }
            span {
                font-size: 0.875rem;
                font-weight: 600;
                display: block;
                color: $white-font;
                position: relative;
                top: 38px;
            }
        }
        .box:hover {
            background-position: 0 -100%;
        }
        .box:first-child {
            background-image: linear-gradient(to bottom, $color-box-home 50%, $color-box-home-hover 50%);
        }
        .box:nth-child(2) {
            background-image: linear-gradient(to bottom, $color-box-resume 50%, $color-box-resume-hover 50%);
        }
        .box:nth-child(3) {
            background-image: linear-gradient(to bottom, $color-box-portfolio 50%, $color-box-portfolio-hover 50%);
        }
    }

    .row {
        min-height: 120px;
        .box {
            height: 120px;
        }
    }
    .sweep-right {
        text-align: center;
        cursor: pointer;
        height: 120px;
    }
    .row:first-child {
        background-color: #224870;
        .name-title {
            padding: 17px 40px 18px 40px;
        }
        .name-title, .sweep-right {
            min-height: 120px;
        }
        .sweep-right {
            i {
                color: #7b8fa4;
                transition: color 0.5s;
                position: relative;
                top: 25px;
            }
            i.codewars{
                font-size: 3.25rem;
                top: 30px;
            }

            background-size: 200% 100%;
            transition: background-position .5s;
            background-image: linear-gradient(to right, #1f4165 50%, #112a44 50%);
        }
        .sweep-right:hover {
            i {
                color: $white-font;
            }
            background-position: -100% 0%;
        }
    }
    .row:nth-child(2) {
        .position-title {
            padding: 23px 40px 34px 40px;
        }
        .sweep-right {
            background-size: 200% 100%;
            transition: background-position .5s;
            background-image: linear-gradient(to right, #1f4165 50%, #153454 50%);
            i {
                color: #9ba9b7;
                transition: color 0.5s;
                position: relative;
                top: 25px;
            }
        }
        .sweep-right:hover {
            i {
                color: $white-font;
            }
            background-position: -100% 0%;
        }
        background-color: #1f4165;
    }
    .row:nth-child(3) {
        background-color: #fff;
    }

    @media only screen and (max-width: 992px) {
        .main-photo {
            background-position: center 0;
        }
        .name-title h1 {
            font-size: 2.2rem;
        }
        .position-title h2 {
            font-size: 1.7rem;
        }
    }
    @media only screen and (max-width: 767px) {
        .col-xs-3{
            width: 30%;
        }
        .col-xs-9{
            width: 70%;
        }
        .main-photo {
            background-position: center -70px;
        }
        .row .my-info {
            .sweep-right:first-child {
                background-image: linear-gradient(to right, #224870 50%, #112a44 50%);
            }
            .sweep-right:nth-child(2) {
                background-image: linear-gradient(to right, #1f4165 50%, #153454 50%);
            }
            .sweep-right {
                i {
                    font-size: 3rem;
                    top: 60px;
                }
                min-height: 180px;
            }
        }
        .name-title h1 {
            font-size: 2.5rem;
        }
        .position-title h2 {
            font-size: 1.8rem;
        }
        .boxes .box {
            i {
                top: 23px;
                font-size: 2.5rem;
            }
            span {
                top: 43px;
                font-size: 0.8rem;
            }
        }

    }
    @media only screen and (max-width: 600px) {
        .main-photo {
            background-position: center -20px;
        }
    }
    @media only screen and (max-width: 480px) {
        .main-photo {
            background-position: center 0px;
        }
    }
}





