#resume {
    section.light{
        background-color: #f7f7f7;
    }
    a {
        transition: all 0.3s ease;
        text-decoration: none;
        color: $dark-font;
        &:hover {
            color: $red-hover;
        }
    }
    min-height: 500px;
    background-color: #fff;
    .inner-section {
        p {
            color: $dark-font;
        }
        padding: 45px 45px;
    }

    .inner-section#page-title {
        @include page-title();
    }

    #m-details {
        background-color: #f7f7f7;
        p {
            color: $medium-dark-font;
        }
    }

    #timeline {
        ul.timeline-vert {
            padding: 0;
            list-style: none;
            position: relative;
            li {
                transition: all 0.3s ease;
                overflow: auto;
                display: list-item;
                position: relative;
            }
            li:hover {
                .timeline-badge {
                    color: $red-hover;
                }
                .timeline-time {
                    background-color: $red-hover;
                }
            }

            &:before {
                background-color: #8f8f8f;
                top: 0;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 1px;
                opacity: .3;
                left: 50%;
                margin-left: -0.5px;
            }

            .timeline-badge {
                color: $color-timeline-icon;
                transition: color .5s ease;
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 1.4em;
                text-align: center;
                position: absolute;
                top: 16px;
                left: 50%;
                margin-left: -27px;
                z-index: 100;
            }
            .timeline-panel {
                cursor: pointer;
                float: left;
                width: 46%;
                border-radius: 0px;
                padding: 30px;
                position: relative;
                border: 1px dashed $medium-dark-font;
                padding: 30px;
                .timeline-photo {
                    min-height: 250px;
                }
                .timeline-maciek-01 {
                    background: url(../img/diamed.jpg);
                    background-position: center;
                    background-size: cover;
                }
                .timeline-maciek-02 {
                    background: url(../img/cs.jpg);
                    background-position: center;
                    background-size: cover;
                }
                .timeline-maciek-03 {
                    background: url(../img/eventile.jpg);
                    background-position: center;
                    background-size: cover;
                }
                .timeline-time {
                    transition: background-color .5s ease;
                    background-color: $medium-dark-font;
                    padding: 6px 18px;
                    position: absolute;
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    color: $white-font;
                }
            }
            .timeline-inverted .timeline-panel {
                float: right;
            }

            h4 {
                font-size: 1.375rem;
            }
            h6, p {
                font-family: "Open Sans", sans-serif;
                font-size: 0.875rem;
            }
            h6 {
                margin-bottom: 0px;
                color: #8f8f8f;
                letter-spacing: 1px;
            }
            p {
                margin-bottom: 10px;
            }
        }

    }

    @media only screen and (max-width: 992px) {
        #timeline ul.timeline-vert{

            li {
                margin-bottom: 20px;
            }

            &:before {
                left: 40px;
            }

            .timeline-badge {
                left: 15px !important;
                margin-left: 0 !important;
                top: 16px !important;
            }

            .timeline-panel {
                width: calc(100% - 90px);
                float: right;
            }

        }



    }

    @media only screen and (max-width: 600px) {
        .inner-section#page-title h2{
            font-size: 2rem;
        }
        .inner-section{
            padding: 45px 15px;
        }
        #timeline ul.timeline-vert {
            &:before {
                display: none;
            }
            .timeline-badge {
                display: none;
            }
            .timeline-panel{
                width: 100%;
            }
        }
    }

}
