$white-font: #fff;
$dark-font: #333;
$red-hover: #e74c3c;
$medium-dark-font: #676767;

$color-blue: #3498db;
$color-light-blue: #dcf3fb;
$color-light-blue2: #cfe5f1;
$color-footer-bg: #224870;
$color-box-home: #4ea5d9;
$color-box-home-hover: #4a9ece;
$color-box-resume: #4a9ece;
$color-box-resume-hover: #428eba;
$color-box-portfolio: #428eba;
$color-box-portfolio-hover: #337ab7;
$color-nav-i: #b5d8ed;
$color-timeline-icon: #b7b7b7;

@import "general";
@import "header";
@import "personal";
@import "experience";
@import "footer";
@import "resume";
@import "portfolio";
