<div class="row row-no-padding">
    <!--PERSONAL!-->
    <div class="row flex-row" id="personal-row">
        <!--LEFT!-->
        <div class="col-md-8 flex-column nopadding" id="details">
            <div class="padding-50 flex-panel">
                <div class="row row-no-padding">
                    <div class="col-md-12 nopadding">
                        <h3 class="title">MY INTERESTS AND HOBBIES</h3>
                        <div class="quote">
                            <h4 class="subtitle">I LIKE VARIOUS FORMS OF PROGRAMMING AND WEB DEVELOPMENT</h4>
                            <div class="dividewhite3"></div>
                        </div>
                    </div>
                </div>
                <div class="divider-dynamic"></div>
                <div class="row nopadding">
                    <div class="col-md-4 infoblock nopadding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-1 col-md-3">
                                <i class="fa fa-bars color-blue"></i>
                                <div class="dividewhite1"></div>
                            </div>
                            <div class="col-xs-12 col-sm-11 col-md-9">
                                <h4 class="font-accident-two-medium uppercase">SPA</h4>
                                <p class="">
                                    In Single Page Applications there is no need to refresh the app when user
                                    navigates across different sections.
                                </p>
                            </div>
                        </div>
                        <div class="divider-dynamic"></div>
                    </div>
                    <div class="col-md-4 infoblock nopadding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-1 col-md-3">
                                <i class=" fa fa-cogs color-blue"></i>
                                <div class="dividewhite1"></div>
                            </div>
                            <div class="col-xs-12 col-sm-11 col-md-9">
                                <h4 class="font-accident-two-medium uppercase">ALGORITHMS</h4>
                                <p class="">
                                    It is important to think about efficiency and performance of code. I like to
                                    challenge myself on sites like "codewars".
                                </p>
                            </div>
                        </div>
                        <div class="divider-dynamic"></div>
                    </div>
                    <div class="col-md-4 infoblock nopadding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-1 col-md-3">
                                <i class="fa fa-database color-blue"></i>
                                <div class="dividewhite1"></div>
                            </div>
                            <div class="col-xs-12 col-sm-11 col-md-9">
                                <h4 class="font-accident-two-medium uppercase">DATA MINING</h4>
                                <p class="">
                                    Extracting information from database requires different methods depending on
                                    the size and type of data.
                                </p>
                            </div>
                        </div>
                        <div class="divider-dynamic"></div>
                    </div>
                </div>
            </div>

        </div>
        <!--RIGHT!-->
        <div id="personal" class="col-md-4 flex-column nopadding">
            <div class="padding-personal flex-panel">
                <h3 class="font-accident-two-normal uppercase title">Personal Info</h3>
                <div class="dividewhite4"></div>
                <div>
                    <div class="fullwidth box">
                        <div class="one"><p class="uppercase">Name:</p></div>
                        <div class="two"><p class="">Maciej Radziszowski</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="uppercase text-nowrap">Birth Date:</p></div>
                        <div class="two"><p class="">16/06/1994</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="uppercase">Address:</p></div>
                        <div class="two"><p class="">Kraków, Poland</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="uppercase">Phone:</p></div>
                        <div class="two"><p class="">788 645 663</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="uppercase">Email:</p></div>
                        <div class="two"><p class="">maciej.radziszowski@gmail.com</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--EXPERIENCE!-->

    <div class="row flex-row" id="exp">
        <!--LEFR!-->
        <div id="my-experience" class="col-md-4 flex-column dark nopadding flex-col">
            <div class="padding-50 flex-panel">
                <h3 class="font-accident-two-normal uppercase title">Employment</h3>
                <div class="dividewhite4"></div>
                <div class="exp">
                    <ul class="">
                        <li class="date">2016 - PRESENT</li>
                        <li class="company uppercase">
                            <a>
                                DIAMED
                            </a>
                        </li>
                        <li class="position">Web administrator/developer</li>
                    </ul>
                    <ul class="">
                        <li class="date">01/2016 - 04/2016</li>
                        <li class="company uppercase">
                            <a>
                                Codesushi
                            </a>
                        </li>
                        <li class="position">Front-end/Angular developer</li>
                    </ul>
                    <ul class="">
                        <li class="date">12/2015 - PRESENT (academic project)</li>
                        <li class="company uppercase">
                            <a>
                                URSS AGH
                            </a>
                        </li>
                        <li class="position">Front-end/Angular developer</li>
                    </ul>

                </div>
            </div>
        </div>
        <div id="my-technologies" class="col-md-8 flex-column dark nopadding flex-col">
            <div class="padding-50 flex-panel">
                <h3 class="font-accident-two-normal uppercase title">FAVOURITE TECHNOLOGIES</h3>
                <div class="dividewhite1"></div>
                <div class="row">
                    <div class="dividewhite2"></div>

                    <div class="technology col-md-4 col-sm-4 col-xs-12">
                        <div class="text-center">
                            <i class="fa fa-code fa-5x technology-icon js" aria-hidden="true"></i>
                            <h4 class="font-accident-two-bold">JavaScript</h4>
                            <p class="font-regular-normal">
                                Powerful language which gives a lot of freedom. Can be used on both client and
                                server side.
                            </p>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                    <div class="technology col-md-4 col-sm-4 col-xs-12">
                        <div class="text-center">
                            <i class="fa fa-bar-chart fa-5x technology-icon d3" aria-hidden="true"></i>
                            <h4 class="font-accident-two-bold">d3.js</h4>
                            <p class="font-regular-normal">
                                Javascript library for data visualization. One of the best among all.
                            </p>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                    <div class="technology col-md-4 col-sm-4 col-xs-12">
                        <div class="text-center">
                            <p class="font-accident-two-bold angular-icon">A</p>
                            <h4 class="font-accident-two-bold angular">Angular</h4>
                            <p class="font-regular-normal">
                                Great framework for web applications. Big community and complete documentation.
                            </p>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
