
<div class="row row-no-padding">
    <!--PERSONAL!-->
    <div class="row flex-row" id="personal-row">
        <!--LEFT!-->
        <div class="col-md-8 flex-column nopadding" id="details">
            <div class="padding-50 flex-panel">
                <div class="row row-no-padding">
                    <div class="col-md-12 nopadding">
                        <h3 class="title">GRIDUS RESUME HTML TEMPLATE</h3>
                        <div class="quote">
                            <h4 class="subtitle">PERFECT FOR CV / RESUME OR PORTFOLIO WEBSITE</h4>
                            <div class="dividewhite3"></div>
                        </div>
                    </div>
                </div>
                <div class="divider-dynamic"></div>
                <div class="row nopadding">
                    <div class="col-md-4 infoblock nopadding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-1 col-md-3">
                                <i class="fa fa-clock-o color-blue"></i>
                                <div class="dividewhite1"></div>
                            </div>
                            <div class="col-xs-12 col-sm-11 col-md-9">
                                <h4 class="font-accident-two-medium uppercase">MODERN</h4>
                                <p class="">
                                    The Gridus Resume Template has an unique modern flat intuitive design. You can
                                    choose one of 8 Color schemes.
                                </p>
                            </div>
                        </div>
                        <div class="divider-dynamic"></div>
                    </div>
                    <div class="col-md-4 infoblock nopadding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-1 col-md-3">
                                <i class=" fa fa-user-circle-o color-blue"></i>
                                <div class="dividewhite1"></div>
                            </div>
                            <div class="col-xs-12 col-sm-11 col-md-9">
                                <h4 class="font-accident-two-medium uppercase">SIMPLE CV</h4>
                                <p class="">
                                    Gridus Personal Template is the simple, clean and stylish fully-responsive resume
                                    theme with modern creative design.
                                </p>
                            </div>
                        </div>
                        <div class="divider-dynamic"></div>
                    </div>
                    <div class="col-md-4 infoblock nopadding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-1 col-md-3">
                                <i class="fa fa-cogs color-blue"></i>
                                <div class="dividewhite1"></div>
                            </div>
                            <div class="col-xs-12 col-sm-11 col-md-9">
                                <h4 class="font-accident-two-medium uppercase">RESPONSIVE</h4>
                                <p class="">
                                    Works fast and looks fine on any device with the wide range of the screen
                                    resolution. Supports all the Google SEO rules.
                                </p>
                            </div>
                        </div>
                        <div class="divider-dynamic"></div>
                    </div>
                </div>
            </div>

        </div>
        <!--RIGHT!-->
        <div id="personal" class="col-md-4 flex-column nopadding">
            <div class="padding-50 flex-panel">
                <h3 class="font-accident-two-normal uppercase title">Personal Info</h3>
                <div class="dividewhite4"></div>
                <div>
                    <div class="fullwidth box">
                        <div class="one"><p class="uppercase">Name:</p></div>
                        <div class="two"><p class="">Maciej Radziszowski</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="uppercase text-nowrap">Birth Date:</p></div>
                        <div class="two"><p class="">16/06/1994</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="uppercase">Address:</p></div>
                        <div class="two"><p class="">Kraków, Poland</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="uppercase">Phone:</p></div>
                        <div class="two"><p class="">788 645 663</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="uppercase">Email:</p></div>
                        <div class="two"><p class="">maciej.radziszowski@gmail.com</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--EXPERIENCE!-->

    <div class="row flex-row" id="exp">
        <!--LEFR!-->
        <div id="my-experience" class="col-md-4 flex-column dark nopadding flex-col">
            <div class="padding-50 flex-panel">
                <h3 class="font-accident-two-normal uppercase title">Employment</h3>
                <div class="dividewhite4"></div>
                <div class="exp">
                    <ul class="">
                        <li class="date">02/2008 - 04/2010</li>
                        <li class="company uppercase">
                            <a>
                                ABC Brodcast Inc. New York.
                            </a>
                        </li>
                        <li class="position">Junior Designer</li>
                    </ul>
                    <ul class="">
                        <li class="date">04/2010 - 06/2012</li>
                        <li class="company uppercase">
                            <a>
                                Leo Burnett London Office
                            </a>
                        </li>
                        <li class="position">Senior Designer</li>
                    </ul>
                    <ul class="">
                        <li class="date">06/2012 - present</li>
                        <li class="company uppercase">
                            <a>
                                Google Inc. Dublin.
                            </a>
                        </li>
                        <li class="position">UI/UX Designer</li>
                    </ul>
                </div>
                <a href="resume.html" class="btn btn-wh-trans btn-xs">Learn More</a>
                <div class="dividewhite1"></div>
            </div>
        </div>
        <div id="my-technologies" class="col-md-8 flex-column dark nopadding flex-col">
            <div class="padding-50 flex-panel">
                <h3 class="font-accident-two-normal uppercase title">FAVOURITE TECHNOLOGIES</h3>
                <div class="dividewhite1"></div>
                <div class="row">
                    <div class="dividewhite1"></div>

                    <div class="technology col-md-4 col-sm-4 col-xs-12">
                        <div class="text-center">
                            <i class="fa fa-code fa-5x technology-icon js" aria-hidden="true"></i>
                            <h4 class="font-accident-two-bold">JavaScript</h4>
                            <p class="font-regular-normal">
                                Design is the creation of a plan or convention for the construction of an object ...
                            </p>
                            <a href="resume.html" class="btn btn-wh-trans btn-xs">Learn More</a>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                    <div class="technology col-md-4 col-sm-4 col-xs-12">
                        <div class="text-center">
                            <i class="fa fa-bar-chart fa-5x technology-icon d3" aria-hidden="true"></i>
                            <h4 class="font-accident-two-bold">d3.js</h4>
                            <p class="font-regular-normal">
                                Design is the creation of a plan or convention for the construction of an object ...
                            </p>
                            <a href="resume.html" class="btn btn-wh-trans btn-xs">Learn More</a>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                    <div class="technology col-md-4 col-sm-4 col-xs-12">
                        <div class="text-center">
                            <p class="font-accident-two-bold angular-icon">A</p>
                            <h4 class="font-accident-two-bold angular">Angular</h4>
                            <p class="font-regular-normal">
                                Design is the creation of a plan or convention for the construction of an object ...
                            </p>
                            <a href="resume.html" class="btn btn-wh-trans btn-xs">Learn More</a>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

