<div id="portfolio" class="inner-content row">

    <section id="page-title" class="inner-section ui-menu-color03">
        <div class="container-fluid nopadding">
            <h2 class="font-accident-two-bold color01" data-animation-origin="right" data-animation-duration="400"
                data-animation-delay="100" data-animation-distance="50px" data-sr-id="124"
                style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.1s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.1s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.1s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.1s; ">
                Portfolio</h2>
            <h4 class="font-accident-two-light color01 uppercase subtitle" data-animation-origin="right"
                data-animation-duration="400" data-animation-delay="200" data-animation-distance="50px" data-sr-id="125"
                style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s; ">
                Made for Creative Professionals</h4>
            <p class="small color01" data-animation-origin="right" data-animation-duration="400"
               data-animation-delay="300" data-animation-distance="50px" data-sr-id="126"
               style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s; ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus purus. Ut vulputate, est vel
                tincidunt mattis, orci neque iaculis lectus, et interdum quam felis vel tortor. Fusce ultrices dui quis
                nunc dignissim faucibus. Ut ac odio quis nibh viverra fringilla ac id nisi. Suspendisse tincidunt augue
                quis ligula cursus, non efficitur ligula faucibus. Mauris id neque maximus, tincidunt metus et, sodales
                nulla.
            </p>
        </div>
    </section>

    <!-- Portfolio Block -->
    <section id="portfolio-block" class="inner-section">

        <div class="container-fluid nopadding">

            <div class="col-xs-12 col-md-6 project">
                <div class="project-content eventile"></div>
                <div class="row row-no-padding icons-row">
                    <div class="col-xs-12 icon icon-link nopadding">
                        <a target="_blank" href="http://kalendarz.samorzad.agh.edu.pl/"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 project">
                <div class="project-content charts"></div>
                <div class="row row-no-padding icons-row">
                    <div class="col-xs-6 icon icon-link nopadding">
                        <a target="_blank" href="https://voliseq.github.io/financial-charts/"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xs-6 icon icon-github nopadding">
                        <a target="_blank" href="https://github.com/voliseq/financial-charts"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-6 project">
                <div class="project-content ihs"></div>
                <div class="row row-no-padding icons-row">
                    <div class="col-xs-12 icon icon-link nopadding">
                        <a target="_blank" href="https://integralhs.com/"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 project">
                <div class="project-content ella"></div>
                <div class="row row-no-padding icons-row">
                    <div class="col-xs-12 icon icon-link nopadding">
                        <a target="_blank" href="http://www.almonds.co.uk/consumers/snacking/clever-little-things"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-6 project">
                <div class="project-content eventile"></div>
                <div class="row row-no-padding icons-row">
                    <div class="col-xs-6 icon icon-link nopadding">
                        <a href=""><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xs-6 icon icon-github nopadding">
                        <a href=""><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 project">
                <div class="project-content charts"></div>
                <div class="row row-no-padding icons-row">
                    <div class="col-xs-6 icon icon-link nopadding">
                        <a href=""><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xs-6 icon icon-github nopadding">
                        <a href=""><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>


    </section>
    <!-- /Portfolio Block -->

</div>
