<div id="portfolio" class="inner-content row">

    <section id="page-title" class="inner-section">
        <div class="container-fluid nopadding">
            <h2 class="font-accident-two-bold">
                Portfolio
            </h2>
            <h4 class="font-accident-two-light uppercase subtitle">
                Please find some of my projects below.
            </h4>
        </div>
    </section>

    <!-- Portfolio Block -->
    <section id="portfolio-block" class="inner-section">

        <div class="container-fluid nopadding">

            <div class="col-xs-12 col-md-6 project">
                <div class="project-content weather"></div>
                <div class="row row-no-padding icons-row">
                    <div class="col-xs-6 icon icon-link nopadding">
                        <a target="_blank" href="https://voliseq.github.io/weather-app/"><i class="fa fa-eye fa-3x"
                                                                                            aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xs-6 icon icon-github nopadding">
                        <a target="_blank" href="https://github.com/voliseq/weather-app"><i
                            class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 project">
                <div class="project-content charts"></div>
                <div class="row row-no-padding icons-row">
                    <div class="col-xs-6 icon icon-link nopadding">
                        <a target="_blank" href="https://voliseq.github.io/financial-charts/"><i class="fa fa-eye fa-3x"
                                                                                                 aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xs-6 icon icon-github nopadding">
                        <a target="_blank" href="https://github.com/voliseq/financial-charts"><i
                            class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 project">
                <div class="project-content som"></div>
                <div class="row row-no-padding icons-row">
                    <div class="col-xs-12 icon icon-link nopadding">
                        <a target="_blank" href="https://voliseq.github.io/SOM/"><i class="fa fa-eye fa-3x"
                                                                                    aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 project">
                <div class="project-content ihs"></div>
                <div class="row row-no-padding icons-row">
                    <div class="col-xs-12 icon icon-link nopadding">
                        <a target="_blank" href="https://integralhs.com/"><i class="fa fa-eye fa-3x"
                                                                             aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 project">
                <div class="project-content ella"></div>
                <div class="row row-no-padding icons-row">
                    <div class="col-xs-12 icon icon-link nopadding">
                        <a target="_blank" href="http://www.almonds.co.uk/consumers/snacking/clever-little-things"><i
                            class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Portfolio Block -->
</div>
