<div id="resume" class="inner-content row">

    <section id="page-title" class="inner-section ui-menu-color02">
        <div class="container-fluid nopadding">
            <h2 class="font-accident-two-bold">
                Resume</h2>
            <h4 class="font-accident-two-light  uppercase subtitle">
                Please find information about my professional career below
            </h4>
        </div>
    </section>

    <section class="inner-section light">

        <div class="container-fluid nopadding">

            <div>
                <h3 class="font-accident-two-normal uppercase text-center">Facts About Me</h3>
                <div class="dividewhite4"></div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Status:</span></div>
                        <div class="col-sm-8"><p class="">Open to Offers</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Education Level:</span>
                        </div>
                        <div class="col-sm-8"><p class="">Engineer, Mechatronic Engineering</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Job Type:</span></div>
                        <div class="col-sm-8"><p class="">Contract</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Mobility:</span></div>
                        <div class="col-sm-8"><p class="">Only Cracow</p></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Languages:</span></div>
                        <div class="col-sm-8"><p class=""><a href="#!">English (B2/C1, FCE), German (A2/B1)</a></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Position:</span></div>
                        <div class="col-sm-8"><p class=""><a href="#!">Javascript/web developer</a></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Industry:</span></div>
                        <div class="col-sm-8"><p class=""><a href="#!">Web Development</a></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Hobbies:</span></div>
                        <div class="col-sm-8"><p class=""><a href="#!">algorithms, programming, foreign languages</a></p></div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section id="timeline" class="inner-section">

        <div class="container-fluid nopadding">

            <div class="text-center">
                <div class="dividewhite4"></div>
                <h3 class="font-accident-two-normal uppercase">Career Timeline</h3>
                <div class="dividewhite1"></div>
                <p class="small fontcolor-medium">
                    Please find information about my current and past workplaces below
                </p>
            </div>

            <div class="dividewhite4"></div>

            <ul class="timeline-vert timeline">
                <li>
                    <div class="timeline-badge primary"><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></div>
                    <div class="timeline-panel">
                        <p class="timeline-time fontcolor-invert">2016 - PRESENT</p>
                        <div class="timeline-photo timeline-maciek-01"></div>
                        <div class="timeline-heading">
                            <h4 class="font-accident-two-normal uppercase">DIAMED, Cracow</h4>
                            <h6 class="uppercase">Web administrator / developer</h6>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success"><i class="fa fa-clock-o fa-3x rotate-90" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-panel">
                        <p class="timeline-time fontcolor-invert">01/2016 - 04/2016</p>
                        <div class="timeline-photo timeline-maciek-02"></div>
                        <div class="timeline-heading">
                            <h4 class="font-accident-two-normal uppercase">Codesushi, Kraków</h4>
                            <h6 class="uppercase">Front-end/Angular developer</h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge primary"><i class="fa fa-clock-o fa-3x rotate-180"
                                                           aria-hidden="true"></i></div>
                    <div class="timeline-panel">
                        <p class="timeline-time fontcolor-invert">12/2015 - PRESENT</p>
                        <div class="timeline-photo timeline-maciek-03"></div>
                        <div class="timeline-heading">
                            <h4 class="font-accident-two-normal uppercase">URSS AGH (academic project)</h4>
                            <h6 class="uppercase">Front-end/Angular developer</h6>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

    </section>

</div>
