<div id="resume" class="inner-content row">

    <section id="page-title" class="inner-section ui-menu-color02">
        <div class="container-fluid nopadding">
            <h2 class="font-accident-two-bold color01" data-animation-origin="right" data-animation-duration="400"
                data-animation-delay="100" data-animation-distance="50px" data-sr-id="12"
                style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.1s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.1s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.1s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.1s; ">
                Resume</h2>
            <h4 class="font-accident-two-light color01 uppercase subtitle" data-animation-origin="right"
                data-animation-duration="400" data-animation-delay="200" data-animation-distance="50px" data-sr-id="13"
                style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s; ">
                Made for Creative Professionals</h4>
            <p class="small color01 .font-regular-normal" data-animation-origin="right" data-animation-duration="400"
               data-animation-delay="300" data-animation-distance="50px" data-sr-id="14"
               style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s; ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus purus. Ut vulputate, est vel
                tincidunt mattis, orci neque iaculis lectus, et interdum quam felis vel tortor. Fusce ultrices dui quis
                nunc dignissim faucibus. Ut ac odio quis nibh viverra fringilla ac id nisi. Suspendisse tincidunt augue
                quis ligula cursus, non efficitur ligula faucibus. Mauris id neque maximus, tincidunt metus et, sodales
                nulla.
            </p>
        </div>
    </section>

    <section class="inner-section light bg-color01">

        <div class="container-fluid nopadding">

            <div data-animation-origin="top" data-animation-duration="200" data-animation-delay="300"
                 data-animation-distance="20px" data-sr-id="224"
                 style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.2s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s, opacity 0.2s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s; transition: transform 0.2s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s, opacity 0.2s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s; ">
                <h3 class="font-accident-two-normal uppercase text-center">Facts About Me</h3>
                <div class="dividewhite1"></div>
                <p class="small text-center fontcolor-medium">
                    With the Gridus personal theme it’s possible to make an impressive website
                    in just 15 minutes.
                </p>
                <div class="dividewhite4"></div>
            </div>

            <div class="row">
                <div class="col-md-6" data-animation-origin="top" data-animation-duration="400"
                     data-animation-delay="600" data-animation-distance="30px" data-sr-id="225"
                     style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.6s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.6s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.6s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.6s; ">
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Status:</span></div>
                        <div class="col-sm-8"><p class="">Open to Offers</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Desired Salary:</span>
                        </div>
                        <div class="col-sm-8"><p class="">To be Discussed</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Education Level:</span>
                        </div>
                        <div class="col-sm-8"><p class="">Advanced Degree, Architecture</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Job Type:</span></div>
                        <div class="col-sm-8"><p class="">Contract, Freelance</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Mobility:</span></div>
                        <div class="col-sm-8"><p class="">Ready to Relocate</p></div>
                    </div>
                </div>
                <div class="col-md-6" data-animation-origin="top" data-animation-duration="400"
                     data-animation-delay="800" data-animation-distance="30px" data-sr-id="226"
                     style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.8s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.8s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.8s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.8s; ">
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Languages:</span></div>
                        <div class="col-sm-8"><p class=""><a href="#!">English, French, Spanish</a></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Position:</span></div>
                        <div class="col-sm-8"><p class=""><a href="#!">Head of Ui/Ux Department</a></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Industry:</span></div>
                        <div class="col-sm-8"><p class=""><a href="#!">Web Development</a></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Speciality:</span></div>
                        <div class="col-sm-8"><p class=""><a href="#!">Web Design, Prototyping, Ux Testing, Ui
                            Design</a></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><span class="font-accident-two-bold uppercase">Hobbies:</span></div>
                        <div class="col-sm-8"><p class=""><a href="#!">Books, Piano, Chess</a></p></div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="m-details" class="inner-section light bg-color02">

        <div class="container-fluid nopadding">

            <div data-animation-origin="top" data-animation-duration="400" data-animation-delay="300"
                 data-animation-distance="30px" data-sr-id="227"
                 style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.3s; ">
                <h3 class="font-accident-two-normal uppercase text-center">Personal qualities</h3>
                <div class="dividewhite1"></div>
                <p class="small text-center fontcolor-medium">
                    With the Gridus personal theme it’s possible to make an impressive website
                    in just 15 minutes.
                </p>
                <div class="dividewhite6"></div>
            </div>

            <div class="row">
                <div class="col-md-3 infoblock text-center" data-animation-origin="left" data-animation-duration="400"
                     data-animation-delay="400" data-animation-distance="50px" data-sr-id="228"
                     style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s; ">
                    <div class="row">
                        <div class="col-md-12"><i class="flaticon-photo246"></i></div>
                        <div class="col-md-12">
                            <div class="dividewhite1"></div>
                            <h5 class="font-accident-two-bold uppercase">Clean &amp; Flat</h5>
                            <p class="small">
                                Gridus Personal Template is the simple, clean and stylish fully-responsive resume /
                                curriculum vitae WordPress theme
                            </p>
                        </div>
                    </div>
                    <div class="divider-dynamic"></div>
                </div>
                <div class="col-md-3 infoblock text-center" data-animation-origin="left" data-animation-duration="400"
                     data-animation-delay="200" data-animation-distance="25px" data-sr-id="229"
                     style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s; ">
                    <div class="row">
                        <div class="col-md-12"><i class="flaticon-pie-graph"></i></div>
                        <div class="col-md-12">
                            <div class="dividewhite1"></div>
                            <h5 class="font-accident-two-bold uppercase">Optimized</h5>
                            <p class="small">
                                It is perfect as a vCard, creative Portfolio or personal CV and resume website for
                                artists, designers and job-seekers.
                            </p>
                        </div>
                    </div>
                    <div class="divider-dynamic"></div>
                </div>
                <div class="col-md-3 infoblock text-center" data-animation-origin="right" data-animation-duration="400"
                     data-animation-delay="200" data-animation-distance="25px" data-sr-id="230"
                     style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.2s; ">
                    <div class="row">
                        <div class="col-md-12"><i class="flaticon-clocks18"></i></div>
                        <div class="col-md-12">
                            <div class="dividewhite1"></div>
                            <h5 class="font-accident-two-bold uppercase">Customizable</h5>
                            <p class="small">
                                The Ready-to-use pre-defined color css classes make possible to Customize your websire
                                in a wide range.
                            </p>
                        </div>
                    </div>
                    <div class="divider-dynamic"></div>
                </div>
                <div class="col-md-3 infoblock text-center" data-animation-origin="right" data-animation-duration="400"
                     data-animation-delay="400" data-animation-distance="50px" data-sr-id="231"
                     style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s; ">
                    <div class="row">
                        <div class="col-md-12"><i class="flaticon-stats47"></i></div>
                        <div class="col-md-12">
                            <div class="dividewhite1"></div>
                            <h5 class="font-accident-two-bold uppercase">Multipurpose</h5>
                            <p class="small">
                                Made for professionals, people who want to show their creative way to success.
                            </p>
                        </div>
                    </div>
                    <div class="divider-dynamic"></div>
                </div>
            </div>

        </div>

    </section>

    <section id="timeline" class="light inner-section">

        <div class="container-fluid nopadding">

            <div class="text-center" data-animation-origin="top" data-animation-duration="400"
                 data-animation-delay="400" data-animation-distance="30px" data-sr-id="232"
                 style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s; transition: transform 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s, opacity 0.4s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s; ">
                <div class="dividewhite4"></div>
                <h3 class="font-accident-two-normal uppercase">Professional Timeline</h3>
                <h5 class="font-accident-two-normal uppercase subtitle">Working hard and making the success</h5>
                <div class="dividewhite1"></div>
                <p class="small fontcolor-medium">
                    Customize your website as you want using different colors and 100% free fonts. Build it from pieces
                    and
                    blocks as simple as Lego. <br>
                    Gridus Website Template is fully responsive, looks and works perfect on any device.
                </p>
            </div>

            <div class="dividewhite4"></div>

            <ul class="timeline-vert timeline">
                <li>
                    <div class="timeline-badge primary"><i class="flaticon-clocks18"></i></div>
                    <div class="timeline-panel" data-animation-origin="left">
                        <p class="timeline-time fontcolor-invert">2015 - present</p>
                        <div class="timeline-photo timeline-maciek-01"></div>
                        <div class="timeline-heading">
                            <h4 class="font-accident-two-normal uppercase">Diamed, Kraków</h4>
                            <h6 class="uppercase">Junior Designer</h6>
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour
                            </p>
                        </div>
                    </div>
                </li>

            </ul>

            <div class="text-center">
                <a href="#!" class="btn btn-darker" data-animation-origin="bottom" data-animation-duration="300"
                   data-animation-delay="600" data-animation-distance="35px" data-sr-id="237"
                   style="; visibility: visible;  -webkit-transform: translateY(35px) scale(1); opacity: 0;transform: translateY(35px) scale(1); opacity: 0;">Learn
                    More</a>
            </div>

            <div class="dividewhite6"></div>

        </div>

    </section>

</div>
